[2014-08-13 21:46] vitiral opened #1 "Installing new libraries doesn't work if folder not same name"
Hey guys! Love the project. I've been using it to work in vim and it is great!

One problem I am having: the libraries can't be found unless they are the same name! I am trying to use the ArduinoJson project (https://github.com/bblanchon/ArduinoJson)

In the Arduino IDE, the generator example works great if you just do a git clone into the libraries folder

Using the Makefile however, it only work

[2014-08-18 21:08] #1 closed, assigned to nobody

[2014-09-03 09:19] ladislas opened #3 "Add continuous integration with Drone.io"
Wouldn't it be nice if we could make sure our programs compile when we make modification to them?

[2014-09-03 09:22] #3 closed, assigned to nobody

[2014-09-09 07:50] ladislas opened #4 "add travis-ci config file"
drone.io is working great, but we should allow people to use both travis-ci or drone.io

[2014-09-16 17:55] #4 closed, assigned to nobody

[2014-09-29 01:33] theideasmith opened #6 "No Module named Serial"
I am a beginner to compiling code in bash(Mac), and have no idea what to do after being told that I don't have the "serial" python module installed. I ran 'pip3 install pyserial', twice, and even changed the import line in ard-reset-arduino to 'import **pyserial**'. Please help me get this up and running.

[code]

[2014-09-29 20:59] ghost opened #7 "avr-g++ not linking to c++ libraries?"
I almost have it working with my toolchain (I'm on Linux mint 64bit). Except if I include std c++ libaries such as <array> in the top level *.ino file, the avr-g++ compiler cannot understand to link to the c++ files in usr/include/c++/. Hardcoding an include path is not really an option due to the recursive nature of the c++ libraries. The g++ compiler works fine recognizing these libs. I've teste

[2014-09-30 07:05] #6 closed, assigned to nobody

[2014-10-02 15:28] #7 closed, assigned to nobody

[2014-10-28 07:08] saitheexplorer opened #9 "How to use this project?"
Hi,

Thanks for putting together this project - using the Arduino IDE was getting on my nerves, and I'm looking forward to working with my Arduino from the comfort of Sublime Text once more.

I'm not totally clear on how to use this, however - do I clone this project for each sketch I'm working on? Or do I use this project as an "IDE" and create new projects inside the `src` directory?

[2014-10-31 07:15] #9 closed, assigned to nobody

[2014-12-15 20:09] mdrx-io opened #10 "Bare-Arduino-Project uses gnu++14 by default - not widely supported yet?"
The default Makefile provided by Bare-Arduino-Project currently uses gnu++14 for CXXFLAGS_STD. At least on my Ubuntu 14.04 installation, with all the required tools downloaded through official repositories, this standard is not yet recognized and will throw an error. Switching the option to gnu++11 allows the example program to compile successfully, but I'm not sure what side effects this causes (

[2014-12-16 08:23] #10 closed, assigned to nobody

[2015-01-12 13:04] nathansizemore opened #11 "License Clarification"
The README lists the project under the MIT license, but the LICENSE file is GPL.  Can you clarify which sections of the project are licensed under which?

[2015-01-12 17:26] ladislas commented on #11
yeah there is definitely something wrong with the licence. I'll review the issue and come back to you :)

[2015-01-14 15:39] #11 closed

[2015-01-14 15:40] ladislas commented on #11
@nathansizemore changed the license to MIT.

please note that the Arduino software and Arduino-Makefile are both released under the LGPL license.

[2015-04-14 15:31] cgel opened #12 "Arduino-Makefile submodule unable to checkout"
i follow the instructions in INSTALL.md and when using the command:
git submodule update --init --recursive
i get:
fatal: reference is not a tree: d1ea8699a49962f7c58beeaa25878755e0910195
Unable to checkout 'd1ea8699a49962f7c58beeaa25878755e0910195' in submodule path 'Arduino-Makefile'

[2015-04-14 15:39] ladislas commented on #12
I get the same error, will fix this asap :)

[2015-04-18 13:51] #12 closed

[2015-04-18 13:52] ladislas commented on #12
@cgel should work now.

tell me if everything is OK :)

[2015-04-18 15:58] cgel commented on #12
the submodule update works great :)
But when i tried to compile BarProject the compiler does not have the path to my libs/
The USER_LIB_PATH is well defined.

[2015-04-18 16:34] bssstudio opened #14 "Transitive library dependencies"
The sample project wont compile.

I am compiling `src/BarProject` that uses `BarLib`

It does not find the FooLib library that is a dependency of `BarLib`
[code]

However if I specify both libraries in the make file:
[code]
it compiles.

Whole compile log:
[code]

[2015-04-18 16:35] ladislas commented on #12
can you open a new issue and copy past the output of `make` please :)

[2015-04-18 16:38] ladislas commented on #14
you should not need to define  `ARDUINO_LIBS`,  they should be automatically added.

the `/tmp/path/to/New_Arduino_Project` seems strange, can you `pwd` inside the root of the project and copy/paste the output?

[2015-04-18 16:51] bssstudio commented on #14
This is the actual root of the project. I was testing it and cloned into `/tmp/path/to/New_Arduino_Project/`. I followed the install guide and I regularly use /tmp for testing stuff :)

[2015-04-18 16:52] ladislas commented on #14
can you copy/paste the content of the makefile
I just tested like you do and it works great for me.

[2015-04-18 16:58] bssstudio commented on #14
Sure :)

[code]

[2015-04-18 17:02] ladislas commented on #14
can you `cd` inside `Arduino-Makefile` and tell me what branch you are using?

[2015-04-18 17:03] ladislas commented on #14
it should be `auto-lib` and **not** `master`

[2015-04-18 17:07] bssstudio commented on #14
HEAD detached at 807e387 which is
[code]
Gitk says it's auto-lib branch.

[2015-04-18 17:32] ladislas commented on #14
that's strange, I don't understand why it doesn't work... :(

could you try cloning the project again?

[2015-04-18 18:49] bssstudio commented on #14
I tried... no success :(
Here are the steps I took (maybe i'm doing something utterly wrong :))
[code]

[2015-04-19 12:43] kautzz opened #15 "feedback makefile for 1.6.3"
Hey @ladislas ,

just tested your updates. Looking good so far.
After I added a few lines building went all good, code is running fine.
[code]
Somehow the core path was calculated wrong... there was a / to much.
Good job!

[2015-04-19 12:43] #15 closed

[2015-04-19 12:53] ladislas commented on #15
Glad it's working! :)

Yes I've noticed that it sometimes happens, but it's not an issue for me. I'll do some testing.

[2015-04-19 13:04] ladislas commented on #14
I think I found the issue!

I just followed you exact same steps on my linux vm and it works. In the output I have something like this:

[code]

Which is not present in your output. Can you list the content of `/path/to/your-project/Arduino-Makefile/bin`? Also, do you have `python` installed?

[2015-04-23 15:53] ladislas commented on #14
@bssstudio have you had any chance of trying what I said?

[2015-05-21 07:18] dgtlmoon opened #16 "Why does "PROJECT_DIR" need to be set?"
Great project! why do I need to set this variable in my Makefile? This would make it completely un-portable

I've tried setting it to just

```PROJECT_DIR       = .```

However i get the following output when following the INSTALL.md

[code]

[2015-05-21 07:22] dgtlmoon commented on #16
The error is caused by ARDMK_DIR being incorrect in my case once PROJECT_DIR is set.. Is there a more dynamic way todo it than below? something more portable?

[code]

[2015-05-21 07:50] ladislas commented on #16
because people don't always set up their computer the same way and might have things in different places :)

setting `PROJECT_DIR = .` will set the `root` where the `Makefile` is called.

It certainly is possible to do this in a more dynamic way, if you want to give it a try, I'll be happy to merge it :)

[2015-05-21 07:50] #16 closed

[2015-05-30 05:11] saqib-zmi opened #17 "Getting a synch error when trying to upload a sketch"
I'm a Mac 10.10 User trying to free myself from the terrible Arduino IDE. I'm using an Arduino UNO board.

I followed the instructions here: https://github.com/ladislas/Bare-Arduino-Project/blob/master/INSTALL.md#4-test-that-evrything-is-up-and-running

However, when I did "make upload", I got the following error:

    mkdir -p /Users/syed.saqibali/Arduino/Oryx/bin/BarProject/mega
    /Application

[2015-05-30 08:30] ladislas commented on #17
It looks like `avrdude` thinks you are using an Arduino Mega1280:

[code]

Could you copy/paste me your `Makefile` please? :)

[2015-05-31 03:49] saqib-zmi commented on #17
Yes. Thank you! My makefile was faulty.

It had this in there:

    ### BOARD_TAG & BOARD_SUB
    ### It must be set to the board you are currently using. (i.e uno, mega, etc.)
    ### For the Arduino Uno, only BOARD_TAG is mandatory and BOARD_SUB can be equal to anything
    ### For the Arduino Mega2560, BOARD_SUB is also needed
    BOARD_TAG         = mega
    BOARD_SUB         = atmega2560

Whe

[2015-05-31 03:49] #17 closed

[2015-05-31 13:05] ladislas commented on #17
glad you found the error :+1:

[2015-06-22 06:49] ladislas commented on #14
@bssstudio I'm closing the issue now, feel free to reopen it if the issue is still there.

[2015-07-04 06:03] romanchyla opened #18 "unrecognized CFLAGS and CXXFLAGS"
Hi,
Thank you for putting the sample project together, I'd like to report a problem on Ubuntu 14.04 LTS

[code]

are not recognized options, compilation failed.

[code]

I have updated my toolchain to gcc4.8 (and also g++, cpp)
http://askubuntu.com/questions/271388/how-to-install-gcc-4-8

But the problem persists, do you think it is because of an old avr-gcc? Is there a way around it? (the build f

[2015-07-04 06:32] romanchyla commented on #18
this helped me fill the gap: https://github.com/WeAreLeka/Arduino-Makefile/blob/master/arduino-mk-vars.md#cxxflags_std

I think it might be useful adding warning directly into the Makefile, next to the CXXFLAGS.... something like:

Values depend on the installed versions of your gcc/c++/avr-gcc and the code that is being compiled
For details, see: https://github.com/WeAreLeka/Arduino-Makefile/blob

[2015-07-04 10:17] ladislas commented on #18
Hi @romanchyla,

Thanks for reporting this issue :+1: You're right, I will add a warning about the flags regarding the `-std=` option.

On Ubuntu, `gcc` and `avr-gcc` are independent. And your version `avr-gcc 4.5.3` is rather old. To use `avr-gcc 4.8.x` you must run the following:

[code]

And you should have the following:

<img width="567" alt="screenshot 2015-07-04 12 16 16" src="https://cloud

[2015-07-05 04:08] romanchyla commented on #18
oups, you are right! i've started on ubuntu 11 and did the upgrade, but I haven't verified that i was on 14.04 (and I wasn't! silly old me...). i can confirm that it now works with the gnu11 options, well at least I learnt somehting extra about C standards :)

[2015-07-05 09:30] #18 closed

[2015-07-09 21:31] alexozer commented on #14
I have the same issue on my Linux installation. I am using the auto-lib branch of Arduino-Makefile and yet it still fails to find the "FooLib.h" header included in BarProject.cpp.

Here's my Arduino-Makefile/bin directory contents:
[code]
and so the lib-detection script exists.

On a side note, shouldn't BarProject.cpp include FooLib.h like this:
[code]
instead of:
[code]
since headers in lib/ cor

[2015-07-10 06:23] ladislas commented on #14
@alexozer could you copy/paste your makefile please?

I just tried again from a brand new clone, both on my computer and on my remote server and I don't have any issues.

What version of linux are you using? Are you able to compile the `FooProject` ?

regarding the use of `" "` insteand of `< >`: `<Arduino.h>` is a system wide library but `"FooLib.h"` is a project library as Bare-Arduino-Project i

[2015-07-10 13:32] alexozer commented on #14
Sure, here's my Makefile:
[code]

And make's output:
[code]

 I'm using Arch Linux, fully updated, and yep, FooProject compiles just fine.

[2015-07-10 13:54] ladislas commented on #14
do you have python installed?

[2015-07-10 13:56] ladislas commented on #14
if you run the following from the `BarProject` directory, what is the output?

[code]

[2015-07-10 14:21] alexozer commented on #14
Yep, python and python2 are installed. Arch packages it so that /usr/bin/python is python3, and /usr/bin/python2 is python2. I mention this only because it's caused problems in the past from stuff assuming /usr/bin/python is python2.

Running lib-detection on the lib directory:
[code]
So it really seems like it's detecting the libraries just fine... so weird.

[2015-07-10 14:43] ladislas commented on #14
yep, but it should look like this, with stuff on the same line:

[code]

Maybe this is causing the bug as the grep is looking for things on one line I think. Try modifying the `lib-detection` script and see if you can get things on the same line.

[2015-07-10 15:03] ladislas commented on #14
and I even think that you might just need to change the first line with `#!/usr/bin/env python`

[2015-07-10 15:22] alexozer commented on #14
You're spot on, actually! Changing the first line to python2 makes it compile. The only issue now is how to make this platform-independent (or I could just fork it).

I also notice that the auto-lib branch of arduino-makefile is really far behind the master branch, I wonder if there's any way to either get it merged with master or pull the changes in master into the auto-lib branch.

[2015-07-10 17:27] alexozer opened #19 "YouCompleteMe not properly using Teensy/Teensyduino headers"
I'm trying to set up YouCompleteMe (ycm) in Vim to autocomplete and error-detect code for Teensy 3.1. I installed Arduino 1.0.6 to a separate directory (because Bare-Arduino-Project doesn't support Arduino 1.6.* for Teensy), and installed Teensyduino to it. Then, I pointed ycm to this Arduino directory via .ycm_extra_conf.py:
[code]
When using this test code:
[code]
ycm throws no errors with pinMo

[2015-07-11 08:33] ladislas commented on #14
ahah! took me some time but we finally figured it out! :) I think the easiest way is to force the execution of `python2`. `python3` is not available by default on OS X. I'm going to make some tests and see what I can come up with.

yep I have to update that, I'm going to work on it as well ;)

[2015-07-11 08:38] ladislas commented on #19
no it's because Arduino-Makefile doesn't support the Teensy. There is a lot of changes going on in the way the Arduino IDE works and on how to parse the `board.txt` and so on. Until everyone is settled down, you have to use the `v1.0.6` for the teensy to work correctly with the `Makefile`

I'm going to try and find a solution.

For the moment, as the Teensy uses all the same functions as Arduino,

[2015-07-11 16:28] bssstudio commented on #14
Hello!
Sorry I was not able to test it more thoroughly, I had some stuff going on.
I can confirm that changing hashbang line in Arudino-Makefile  from `python` to `python2` made it work.

We should open an issue or something to Arduino-Makefile so that it will support distributions with python3 as default 'python'.

[2015-07-12 17:08] alexozer commented on #19
Agh, alright, I'll just deal with it.

[2015-07-12 20:53] ladislas commented on #14
@bssstudio no not yet. this issue is related only to my fork of Arduino-Makefile and I want to make sure I can fix this before asking them anything ;)

[2015-07-14 16:42] ladislas commented on #14
@bssstudio @alexozer
could you try replacing the content of `lib-detection` by the following and tell me what happens?
[code]

Or apply the following patch:

[code]

[2015-07-14 17:55] ladislas commented on #14
@alexozer I just updated the repo to pull all the recent improvements from sudar's arduino makefile.

let me know if you have any issues :)

[2015-07-14 20:11] alexozer commented on #14
@ladislas Thanks for your work on this, the latest Bare-Arduino-Project works with the patch you posted. So I assume you're going to commit the patch to your forked version of Arduino-Makefile, or try to get it into the original Arduino-Makefile?

[2015-07-26 12:44] ladislas commented on #14
@alexozer yep! A little more work and it should be okay ;)

[2015-09-05 19:39] Ulli2k opened #20 "MONITOR_PORT does not support network connections"
I want to execute the following flash command with your make file
avrdude -b 115200 -p m328p -c arduino -P net:beagle:4000 -Uflash:w:file.hex

But MONITOR_PORT does not support net:beagle:4000!

I additionally want to use make monitor with a different port "net:beagle:4001"

Would it be possible to include that or is there a workaround?

[2015-09-24 17:57] Limpinho0 opened #21 "Problems with dependencies with different folder names"
Hi, I'm newbie on python, and I have a complex arduino program that uses some libraries in just one folder. I guess your program works taking the names of the folders and using to know the name of the libraries on it. But I have many libraries on just one folder of the lib, and the software can't include this files on the project. I tried put one folder for each files but some files includes other

[2015-09-26 21:27] ladislas commented on #21
yep, that's something I've been wanting to work on for a few months but I haven't got the time yet.

I'll try to get it fixed ASAP ;)

[2015-09-30 04:39] jon-whit commented on #21
I would also like to do this. Here is what I am trying to do:

lib/Station.h
-- #include <XBee.h>
lib/PowerManager.h

src/H2OiQ.cpp
-- #include "Station.h"
-- #include "PowerManager.h"

The `libdetection.py` script that you added to the Arduino-Makefile project doesn't allow this. One additional thing to note in addition to your suggested enhancement above:

* Arduino system libraries (Arduino.h,

[2015-09-30 10:31] ladislas commented on #21
@jon-whit: what do you mean? what system are you on?

[2015-09-30 15:52] jon-whit commented on #21
In BarProject.cpp if you include SoftwareSerial.h you don't get any compilation errors:

[code]

However, if you try to include the same SoftwareSerial system header in BarLib.h and then include BarLib.h in BarProject.cpp, then compilation fails with message:

[code]

[2015-10-23 05:12] ladislas commented on #21
@jon-whit my apologies for the long delay, I've been pretty busy recently with my startup.

I tried what you said, including `#include <SoftwareSerial.h>` in the `BarProject` and `BarLib` and everything compiles just fine.

Also, if you look at the content of the library files, you'll see that I have included `Arduino.h`.

Could you try cloning the project again and tell me if it still doesn't wor

[2015-10-23 05:15] ladislas commented on #20
hi @Ulli2k -- as the same issue is discussed [here](https://github.com/sudar/Arduino-Makefile/issues/378), I'm closing the issue now.

[2015-10-23 05:15] #20 closed

[2015-10-23 05:16] #14 closed

[2015-11-06 20:11] mfe5003 commented on #21
I am having a similar problem as @jon-whit, and I just cloned the project a day or two ago.
I haven't had a chance to look into it yet but I suspect that the code that generates the included libraries is only looking at the top level file i.e. `BarProject.cpp`

The work around I'm using, is that if I want to add `SPI.h` in a library I made I need to also add it in the top level file, even if I don

[2015-11-07 08:56] ladislas commented on #21
yep that's right -- for Arduino libs, you need to include them in your project.

[2015-12-02 00:06] jej opened #22 "What for BOARD_TAG & BOARD_SUB?"
Hi,
I had some troubles to set up BOARD_TAG & BOARD_SUB in the Makefile. May I suggest to improve INSTALL.md?
Here is what I did to set up the good values:
* Open the BOARDS_TXT file (for example /Users/me/Applications/Arduino.app/Contents/Java/hardware/arduino/avr/boards.txt) as specified when 'make' is launched.
* Find for the board used (for example *"Arduino Pro or Pro Mini (3.3V, 8 MHz) w/ AT

[2015-12-02 07:17] ladislas commented on #22
Hi @jej -- thank you for your contribution.

can you make a pull request? also, it might be good in the instruction to say that `BOARD_SUB` is only used in the most recent versions of the IDE. and not in `1.0.x`

thanks!

[2015-12-02 07:23] jej commented on #22
Ok! I will do it soon.
J.

[2015-12-02 08:27] ladislas commented on #22
fixed by #23

[2015-12-02 08:27] #22 closed

[2015-12-02 08:29] jej commented on #22
Need to update the TOC, but I guess I cannot do it myself...
J.

[2015-12-02 08:43] ladislas commented on #22
just did it :)

[2015-12-02 08:45] jej commented on #22
well done then! thanks.

[2015-12-04 00:35] sagargp opened #24 "Doesn't build objects from sources under lib/"
I have some custom libraries under the lib/ directory, similar to FooLib and BarLib. When building, the compiler is invoked with -I.../FooLib properly, but a FooLib.o is never built and linked into the final executable. Therefore, the final linker step fails with "undefined references" errors.

[2015-12-04 08:16] ladislas commented on #24
can you show me your directory structure?
also, does your library have the same name as your folder?

if you have a github repository with everything, that would be even better for me to take a look.

[2015-12-04 21:57] sagargp commented on #24
They do have the same name, although the directory/file names are in all-lowercase while the class name is in CamelCase. I don't know if that matters. [Here's a link to the code I'm talking about.](https://github.com/sagargp/hermes2-firmware/tree/98b89c0c86cf2048d0648aae843e73d3eb057b61)

[2015-12-05 09:06] ladislas commented on #24
this exemple works

https://github.com/ladislas/hermes2-firmware/tree/hermes

[2015-12-05 09:06] ladislas commented on #24
you need to change the makefile a bit

[2015-12-13 02:01] jon-whit commented on #21
@ladislas This issue still has yet to get fixed. The `libdectection.py` script that you created is not inclusive enough for #includes directives. Consider the simple Arduino sketch directory shown below:

[code]

If you have a project file `main.cpp` in `src` that includes `XBee.h`,

[code]

Running the compilation target in the Makefile fails with an error indicating that XBee.h could not be foun

[2015-12-13 11:08] ladislas commented on #21
@jon-whit : do you have a repository on github that I could clone to test your settings.

I think I already raised an issue like the one you're having here: https://github.com/sudar/Arduino-Makefile/issues/249#issuecomment-54158707

There are two things that might get in the way of doing what you want:

- the first is the way the Makefile works: it is based on how Arduino works and doesn't allow y

[2015-12-15 21:40] g770 opened #25 "Single library across multiple projects"
Is it possible to have a single library that is shared across projects?  In playing with this it looks like there is a 1:1 mapping between project and library, for example FooProject and FooLib.

[2015-12-15 22:13] ladislas commented on #25
if your library is in `lib/myLib`, you can reference it from every project in `src/myProject` and have multiple project reference the same library.

but it can not be outside of the whole project. if you want to do so you can use submodules.

[2015-12-15 22:54] g770 commented on #25
Hmm... ok, let me plan around a bit.

[2015-12-16 06:56] ladislas commented on #25
my repo https://github.com/WeAreLeka/moti is a good example on how this works.

you'll see that in `src` I have different robot's behavior that all use the same libraries included from `lib`

I'm closing this now, feel free to reopen if needed.

[2015-12-16 06:56] #25 closed

[2015-12-16 06:57] ladislas commented on #24
@sagargp any news on that?

I'm closing the issue, feel free to reopen it if needed.

[2015-12-16 06:57] #24 closed

[2015-12-16 06:58] ladislas commented on #21
any news on this?

[2015-12-16 06:58] #19 closed

[2016-01-21 22:37] ilvadol opened #26 "External libraries do not pick up"
I'm trying to build a project that uses F Malpartida's  New LiquidCrystal libraries (```LCD.h and LiquidCrystal_I2C.h```). I put those into lib of the project folder as suggested. I'm also using FooProject folder, as it already contains a Makefile after I run the check that everything is working.
When I "make" my project the terminal goes on computing and so on and then:
[code]
I tried to  ```#inc

[2016-01-21 22:43] ilvadol commented on #26
Or should I create a new folder with a new reconfigured Makefile?

[2016-01-22 07:00] ladislas commented on #26
hi @ilvadol !

in `./lib` you have to add your libraries in folders with the same name as the `.h` and `.cpp` files if you want them to be referenced.

for example here, I include the `Stabilization.h` librairie:

- main sketch: https://github.com/weareleka/moti/blob/dev/src/Stabilization/main.cpp
- lib: https://github.com/weareleka/moti/blob/dev/lib/Stabilization/Stabilization.h

[2016-01-22 10:14] ilvadol commented on #26
Thanks for the answer, @ladislas
That's great. I'll check it later for sure. But could you please make it clear somewhere in ```.lib/Readme.mk``` Because at the moment, it's not very clear how you put bundles of libraries to get indexed.

[2016-01-22 12:47] ilvadol commented on #26
Hmm... Now it's more interesting. Putting the files into folders with the same name partly solves the problem. BUT when there are NO ```.h``` in the ```/FooProject``` I get this error:
[code]
But when there are ```.h``` files in the ```/FooProject`` folder, it works, compiles and uploads.

[2016-01-22 14:57] ladislas commented on #26
can you push your project on github so that I can try it myself?

[2016-01-22 16:38] ilvadol commented on #26
well... I can... but because I'm newbie here (so sorry for that), I do not know how. I read the guides and learn as i go. So anyway, I try to push using guides and it does not include any of my work. I can attach ```ardprj.zip``` file of my entire project folder.
[ardprj.zip](https://github.com/ladislas/Bare-Arduino-Project/files/101121/ardprj.zip)
And ```Archive.zip``` contains the ```.h``` files

[2016-01-23 16:56] ilvadol commented on #26
Sorry for the wait and the possible confusion that it might have caused you (I'm not very familiar with CLI as I don't have much experience). But there are GUI that github provides.
Here it is, my repo:
https://github.com/ilvadol/ardprj

[2016-01-24 10:48] ladislas commented on #26
can you copy paste your Makefile here? also, what version of the Arduino IDE are you using?

[2016-01-24 12:59] ilvadol commented on #26
Sure. Here it is:
[code]
It's nothing unusual, really.

[2016-01-24 13:25] ladislas commented on #26
thanks.

I does work on my computer. I just had to clone the repo, add the makefile and everything compiles fine.

[2016-01-24 13:38] ilvadol commented on #26
So, even without ```LCD.h```?

[2016-01-24 13:41] ladislas commented on #26
with LCD.h inside `./lib/LCD`

[2016-01-24 13:48] ilvadol commented on #26
well... For me it does not...
[code]
Do not really know why? It's fresh installed OSX. Strange. Just a sec. Have to change to linux (raspberry pi's jessie) and check it there.

[2016-01-24 13:59] ilvadol commented on #26
On the PI it compiles and uploads even without ```LCD.h```
But on the OSX it asks for it.
Of course, i did change ```makefiles``` to suit the system. But it's strange, anyhow.

[2016-01-24 14:15] ladislas commented on #26
I did some cleanup here: https://github.com/ladislas/ardprj/tree/remove-libs

I removed all the libs and only added back the ones needed to compile in `./lib/LCD`. You can put everything in the same folder as the compiler will look for them automatically in the same folder.

It compiles on OSX

[2016-01-24 14:44] ilvadol commented on #26
Well... I guess it's incurable. When i deleted all libs and put everything as you suggested I got this:
[code]
When I put them back in folders it asks for a copy of ```LCD.h``` to be in the ```testProject```:
[code]
On Linux it works without the problems...
I guess, there is something to do with my OSX setup and how it handles this particular library. Anyway, thanks a lot for your help.

[2016-01-24 14:51] ladislas commented on #26
we're trying one last thing, just follow the following (don't copy the `$`):

[code]

it should work.

[2016-01-24 15:12] ilvadol commented on #26
Unfortunately, i did exactly what you told me to do, and it did not work...
[code]
That's what it said.
Here is my makefile:
[code]

Just a second, before it's considered a MY-SYSTEM-SPECIFIC issue i have to check something.

[2016-01-24 15:25] ilvadol commented on #26
WOW.
I guess it was a MAJOR 3 DAYS LONG GLITCH.
After your advice to make everything from scratch it failed and i decided to put ```.h``` and ```.cpp``` libs inside folders (your initial suggestion) once again
After ```make``` it worked!!!
i can't thank you enough! Thanks a whole lot!

You may close the issue.
And also, please, update the description how libraries are held.
How can I merge everyth

[2016-01-24 15:26] ladislas commented on #26
you're welcome.

yeah, better make a new repo ;)

[2016-01-24 15:26] #26 closed

[2016-01-24 15:26] ladislas commented on #21
i'm closing this issue, feel free to reopen if needed.

[2016-01-24 15:26] #21 closed

[2016-01-26 02:53] afrankenthal opened #27 "Could this work with Intel Galileo?"
Hi, do you think this could work with Intel Galileo, which provides an Arduino environment? I absolutely despise the Arduino IDE and it would be nice to use this package instead. Thanks!

[2016-01-26 07:20] ladislas commented on #27
I don't know, I haven't tried it.

If it works with just https://github.com/sudar/Arduino-Makefile, it will work with Bare Arduino Project.

[2016-01-26 07:20] #27 closed

[2016-06-21 12:11] kenji21 opened #28 "Arduino 1.6.9 only (without having to brew avrdude and avr-libc)"
Not really an issue, but an "interesting feature" : only depend on Arduino.app.

I've sucessfully compiled and uploaded the blink example on OS X without brewing avr-libc and avrdude.

To use the one embedded in Arduino.app :
[code]

In Arduino-Makefile :
[code]

[2016-09-25 13:06] ladislas commented on #28
@kenji21 thanks for opening this issue.

yes it is absolutely possible to compile by relying only on arduino (it's working with 1.6.12).

but the idea behind the project was to be able to use a more recent version of avr-gcc and get all the cutting edge feature :)

[2016-09-25 13:06] #28 closed

[2016-09-25 13:07] ladislas opened #29 "fix travis build"

[2016-09-25 15:20] kenji21 commented on #28
Ok, thanks for taking time to reply

[2016-09-27 22:50] nathansizemore opened #30 "GCC 6.x causes delays to hang forever"
[Original, mis-filed issue](https://github.com/sudar/Arduino-Makefile/issues/458).

I'm assuming this is also the case for any GCC above 4.9, but have only confirmed with 6.1 and 6.2.

See original issue for details of makefile and such.

Toolchain recreation info:

**Installed Versions**

[code]

**binutils configuration**

[code]

**gcc configuration**

(After gmp and friends placed in tree)

[c

[2016-09-28 06:14] ladislas commented on #30
can you provide me with a github repo i could clone and test it myself.

haven't had any issues with my own projects.

[2016-09-28 07:56] ladislas commented on #30
I confirm i can compile and upload a code with `delay()` and it works (if that was the problem).

i think your issue, from what i've seen is that you `return 0;` at the end of your `main()` so your program just stops.

[2016-09-28 08:50] ladislas commented on #30
Okay, I found the error.

First off, you need to `init()` when just using `main()`. Second, your delay was too short between the past print and the return.

So here you go:

[code]

[2016-09-28 08:50] #30 closed

[2016-09-28 12:49] nathansizemore commented on #30
Thanks!

[2016-11-13 17:05] naccib opened #31 "Can't include anything from STL."
Hey, I don't know if this is the better way yo contact you, but, here is my issue:
I can't include any header file from the STL:

If I try to include _vector_, this is what happens:
`FooProject.cpp:3:18: fatal error: vector: No such file or directory
 #include <vector>
`

How can I fix this?

[2016-11-13 18:08] ladislas commented on #31
you can't \-\- Arduino and avr don't support STL.

if you google "arduino stl" or "avr stl" you will find partial ports of STL, but I'm not sure I've ever seen vectors being porte on avr.

[2016-11-13 18:08] #31 closed

[2017-01-01 13:37] jvalskis commented on #29
Hi, ladislas, I picked up this project yesterday and my goal is to have it build for ATtiny85. But I encountered an exact same issue with that your travis build is failing on.
Have you had any chance to investigate the cause for it?

[2017-01-06 07:24] jvalskis commented on #29
OK, in my case it appears to have been avr-gcc version mismatch. The makefile was using 4.8.2 which was available in the system, instead of the 4.9.2 that comes with arduino. I set AVR_TOOLS_DIR to point to arduino installation tool directory (/hardware/tools/avr). This fixed my problem.

[2017-01-06 14:45] ladislas commented on #29
thanks a lot @jvalskis. I'll look into that when I get time :)

[2017-01-25 02:36] String-bikinis opened #33 "No module named serial"
First off, I know there was an earlier issue like this one but I have tried everything that was suggested.  When I try to upload using "make upload" I get an error saying "there is no module named serial".

    /Users/j*********/MyArduinoProject/Arduino-Makefile/bin/ard-reset-arduino       /dev/tty.usbmodem1451
    Traceback (most recent call last):
      File "/Users/j*********/MyArduinoProject/A

[2017-01-25 13:22] ladislas commented on #33
what happens if you run `which python` in your terminal?

also, can you try running the `ard-reset-arduino` from the terminal?

[2017-01-25 15:42] String-bikinis commented on #33
$ which python
    /Library/Frameworks/Python.framework/Versions/2.6/bin/python
So the default python version for my computer is 2.6. Is this the version that all bash scripts like ard-reset-arduino use then? I get the same error when I just run the ard-reset-arduino:
    $ open ard-reset-arduino
    $ /Users/j********/MyArduinoProject/Arduino-Makefile/bin/ard-reset-arduino ; exit;
    Traceback (

[2017-01-25 17:57] String-bikinis commented on #33
So i'm not sure how change the default python version to 2.7. Even if I did I wouldn't want to do that since there must be a few applications that rely on the default 2.6 python libraries.  I tried to add a few new directories to the search path in the ard-reset-arduino script before it imports serial.

    import sys
    sys.path.insert(0, '/usr/local/lib/python2.7')
    sys.path.insert(0, '/usr/

[2017-01-28 17:28] sherrellbc opened #34 "Builds fail for more complex user library structures"
The provided example code has a user library structure as

Including this header works as expected in the current structure. However, if the intended header file name does not match the parent directory name then the build will fail with a "No such file or directory" error.

To reproduce, change the filename of lib/FooLib/FooLib.h to lib/FooLib/FooLib2.h and try to include it from FooProject.cpp.

[2017-01-28 18:21] ladislas commented on #34
yes it's a known issue and is due to the way Arduino-Makefile is made. I've tried working on it but never got the results I needed.

BUT, you can overcome that by having one header with the name of the folder and then including other headers in this one.

Just like here: https://github.com/weareleka/moti/tree/dev/lib/FreeIMU

I just have to include FreeIMU.h in my main.cpp

[2017-01-28 18:21] #34 closed

[2017-01-28 18:31] sherrellbc commented on #34
This is exactly as I did. I was hoping there would be a simpler solution.

[2017-01-28 18:48] sherrellbc commented on #34
This is exactly as I did. I was hoping there would be a simpler solution. It may be simpler to just pass the include (-I) option to gcc and require the user to qualify the origin of the header from in the include statement. Namely,

#include <FooLib/FooLib.h>

[2017-01-28 18:58] ladislas commented on #34
yes that also works! 👍

[2017-02-19 09:19] Juanjbb opened #35 "Not working in Ubuntu 14"
First of all thank you for the great work!
I'm experiencing some problems setting the bare-bone project up in Ubuntu:

----------------------- 1st problem ------------------------
My avr-gcc version is 4.8.2, which in the Arduino.mk makes it try avr-gcc-ar

    ifeq ($(shell expr $(CC_VERNUM) '>' 482), 1)
        AR_NAME      = avr-gcc-ar
    else
        AR_NAME      = avr-ar
    endif

which pro

[2017-02-19 09:29] Juanjbb commented on #35
Ok, the second problem I think it was my fault. I installed arduino long time ago and I may had changed the directories. The first problem though, no clue why I get the 'sorry - this program has been built without plugin support' error

[2017-03-04 14:07] Meresmata opened #36 "Uploading first example"
Hi,

 I tried out the project for the first time and tried out to upload the fooproject onto UnoR3 with a XUBUNTU 16.4.

I got no error while making, but error:2 while trying to upload

Settings were:

PROJECT_DIR = /home/{user}/programmierung/MyArduinoProjects
BOARD_TAG  = uno
BOARD_SUB = atmega328p
AVRRDUDE = /usr/bin/avrdude
MONITOR_PORT = /dev/ttyACM0

/usr/bin/avrdude -q -V -p atmega328p -C /

[2017-03-09 01:14] LucaTony commented on #36
I had the same problem. Just add `AVRDUDE_CONF      = /etc/avrdude.conf` to the Makefile

[2017-03-11 22:06] UsoHolger opened #37 "vim YouCompleteMe still not working with .ino files"
I placed .ycm_extra_conf.py in the project directory but YCM still does not work at all. For example: When I type `test.` where test is the name of an object of a test class I do not get any suggestions for method names. When I try to force autocompletion I get
```E764: Option 'omnifunc' is not set```

When I try to use the go to definition feature the error is
``` ValueError: No semantic complete

[2017-03-11 23:21] ladislas commented on #37
hmm...

I'm not sure it works with `.ino` files, and this project doesn't support `.ino` files either.

can you post your `.ycm_extra_conf` somewhere, so I can take a look?

[2017-03-11 23:22] ladislas commented on #36
@LucaTony thanks for the help

@Meresmata can you close if it solves your issue?

[2017-03-12 09:08] UsoHolger commented on #37
Thanks for the reply. I am using [this](https://gist.github.com/ajford/f551b2b6fd4d6b6e1ef2) version, which is based on yours. But it seems like it is not even loaded. When I deliberately add a syntax error I do not get any notification nor did YCM ever ask me to load the config. I am using a global config for c++11 which I placed in my ~/.vim folder. It is loaded in my .vimrc with
[code]
but I th

[2017-03-12 16:48] ladislas commented on #37
yep, the issue is the one I thought, it doesn't recognize the arduino file type.

setting filetype to cpp should not stop highlighting of functions. have you tried https://github.com/sheerun/vim-polyglot

either way, it is outside the scope of this project :)

I'm closing the issue as it has been resolved.

[2017-03-12 16:48] #37 closed

[2017-03-12 17:00] ladislas commented on #33
maybe your path is not set properly.

are you using homebrew? have you installed python with it?

[2017-03-12 17:00] ladislas commented on #35
thanks for the feedback.

this is more of an upstream bug from what I see. I'll look into it and report it if it's the case.

[2017-03-12 17:00] #35 closed

[2017-03-13 07:12] String-bikinis commented on #33
I know I've used Homebrew before but it's been a long time and I don't remember which python versions I used it for.  So, as I understand what you're saying (and what seems to be the case), different python versions will be installed in different locations depending on what I use to install them. To be honest have no idea how to actually find those paths without searching with random file navigati

[2017-03-13 13:33] UsoHolger opened #38 "How to properly use libraries and OOP?"
This is a question. Not really sure whether to ask this here or in [Arduino-Makefile](https://github.com/sudar/Arduino-Makefile).

I personally don't really care about compatability to the arduino IDE I just want to use theire libraries. With this repo and the makefile I kind of have what I wanted except for the way libraries are compiled, which I do not understand fully.

By reading the code I fo

[2017-03-13 13:36] ladislas commented on #33
can you run:

[code]
and give me the output of `brew list`, `which python` and `cat /etc/paths`

[2017-03-13 13:45] ladislas commented on #38
no you can have as many `.h` and `.cpp` as you'd like but they have to be referenced into the main `MyLibrary.h` file inside the `MyLibrary` folder.

Just like here: https://github.com/weareleka/moti/tree/dev/lib/FreeIMU

yep -- but don't worry, if something is not supported, it will just not compile. But as main rule in embedded development, try to avoid creating objects while the application run

[2017-03-13 17:49] UsoHolger commented on #38
Thanks a lot that really helped me. Now I have the perfect enviroment to get started with some bigger projects. Great work!

[2017-03-13 17:49] #38 closed

[2017-03-13 18:17] String-bikinis commented on #33
'''
$ brew list
avr-binutils	avrdude		gmp		libmpc		mpfr		portaudio	qt		readline
avr-gcc		gdbm		libelf		libusb		openssl		pyqt		qt5		sip
avr-libc	git		libftdi0	libusb-compat	pkg-config	python		qwt		sqlite
$ which python
/Library/Frameworks/Python.framework/Versions/2.6/bin/python
$ cat /etc/paths
/usr/local/bin
/usr/bin
/bin
/usr/sbin
/sbin
'''

[2017-03-13 18:23] ladislas commented on #33
try `brew update && brew upgrade && brew remove python && brew install python`

[2017-03-13 18:28] String-bikinis commented on #33
[code]

[2017-03-13 19:06] ladislas commented on #33
can you `brew remove pyqt` and try again?

[2017-03-13 19:51] String-bikinis commented on #33
[code]

[2017-03-13 20:27] ladislas commented on #33
does it work now?

[2017-03-13 21:07] String-bikinis commented on #33
same error as before
[code]

[2017-03-13 21:25] ladislas commented on #33
wait wait wait! have you installed pySerial first?!

[code]

[2017-03-13 21:34] String-bikinis commented on #33
yes... but it only does it for version 3.5
[code]

[2017-03-13 23:32] ladislas commented on #33
mine says that

[code]
that path is not the same...

i would try uninstalling homebrew and starting again.

what is the output of `pip --version`, `pip2 --version`, `pip3 --version`?

[2017-03-14 02:22] ladislas commented on #33
so my guess is that for some reasons you've installed python from another source than homebrew and now it is in your path.

I don't know how to help...

closing this issue as it is not related to the project :(

[2017-03-14 02:22] #33 closed

[2017-03-17 00:35] rpbeltran opened #39 "No rule to make target `build-mega-atmega2560/src.eep', needed by `all'"
I'm trying to create a new project, but I have been unable to get any makes to work

My makefile looks like:
[code]

Everytime I build it prints out all the configuration data and then the error message:
`make: *** No rule to make target build-mega-atmega2560/src.eep', needed by all'.  Stop.`

I tried running `cat /Applications/Arduino.app/Contents/Java/hardware/arduino/avr/boards.txt` and found t

[2017-03-17 03:04] syddo opened #40 "Windows Support"
Hi Folks. How can windows users be able to install ?

[2017-03-17 03:41] ladislas commented on #40
I don't have windows so I have no ideas. I guess by using Cygwin and stuff like this you could figure it out.

it is based on https://github.com/sudar/Arduino-Makefile which works on windows, so you might be able to do it as well.

I'm closing the issue, but feel free to open a pull request once it's working.

[2017-03-17 03:41] #40 closed

[2017-03-17 03:46] ladislas commented on #39
I've never had this issue before.

can you point me to the repository where the code you're trying to compile is so that i can test it myself?

[2017-03-17 07:26] rpbeltran commented on #39
I uploaded my code to https://github.com/rpbeltran/hardware-controller I also tried to make it with a UNO as the target, but no luck there either, just got the same error but changed to `build-uno-atmega328/src.eep' Thank you for the help.

[2017-03-17 15:02] ladislas commented on #39
oh i know! it's because inside of `src` you need another folder with you "project" and the `main.cpp`, `Makefile`, etc. just like here: https://github.com/weareleka/moti/tree/dev/src

each folder is a different project with it's own `main.cpp` and they all compile.

I guess i could change the behavior, it should not be that hard.

the folder `multiplexer` and so on, must be in `lib`

let me know i

[2017-03-17 22:22] rpbeltran commented on #39
That fixed everything, thank you. I also realized that you can not put your project inside of a path with any spaces in it, but I think that is a problem with make, not anything here.

Thank you for the help, and also for making this. It's an awesome project.

[2017-03-17 22:22] #39 closed

[2017-03-17 22:40] ladislas commented on #39
my pleasure :)

[2017-03-26 05:28] T3KN0KRAT commented on #14
Yikes! I reeeely hate to resurrect this, but I've followed this thread, tried its suggestions, and am still coming up with the same error: fatal error: FooLib.h: No such file or directory.

This one, however is on a raspbian install.

Shall I open a new issue?  Or shall I add details here (in another comment)?

[2017-03-26 06:21] T3KN0KRAT opened #41 "Cannot find plugin 'liblto_plugin.so'"
I'm trying out the `make` of `FooProject`, and I'm not sure where this bug report belongs to.

This is on a Raspberry Pi/Raspbian.

The last few lines of the error are:

[code]

I found someone with a similar error at https://www.raspberrypi.org/forums/viewtopic.php?f=33&t=68789, which references https://github.com/raspberrypi/tools/issues/12.  The bug report on that latter link indicates that the

[2017-03-26 07:27] T3KN0KRAT commented on #41
Heh, well, it wasn't *THIS* that needed to be updated, but rather my setup.  Things work as advertised now :)

[2017-03-26 07:27] #41 closed

[2017-04-13 10:44] webhat opened #42 "Home dir in Makefiles"
Was there a specific reason that lines https://github.com/ladislas/Bare-Arduino-Project/blob/master/Makefile-Linux.mk#L8 and https://github.com/ladislas/Bare-Arduino-Project/blob/master/Makefile-OSX.mk#L8 are not:

[code]

Thanks!

[2017-04-13 11:33] webhat commented on #42
Found out in the docs.

[2017-04-13 11:33] #42 closed

[2017-04-23 08:25] pip010 opened #43 "Wrong instructions?"
If I follow the instruction.md correctly you end up with a project root folder with Makefile and /src /lib /bin
subfolders. However running make gives this:

-------------------------
Arduino.mk Configuration:
- [AUTODETECTED]       CURRENT_OS = LINUX
- [USER]               ARDUINO_DIR = /usr/share/arduino
- [USER]               ARDMK_DIR = /home/ppetrov/Documents/arduiono_example/Arduino-Makefile

[2017-04-23 09:40] ladislas commented on #43
you have to run `make` in `./src/myProject`

[2017-04-23 09:41] ladislas commented on #43
like from here https://github.com/ladislas/Bare-Arduino-Project/tree/master/src/BarProject

[2017-04-23 16:36] pip010 commented on #43
Thanks, that did it. But running then 'make upload' from same dir produces:
/usr/bin/avrdude -q -V -p atmega328p -C /usr/../avrdude.conf -D -c arduino -b 115200 -P /dev/ttyUSB0 \
		-U flash:w:/home/ppetrov/Documents/arduiono_example/bin/FooProject/uno/FooProject.hex:i
avrdude: can't open config file "/usr/../avrdude.conf": No such file or directory

I fixed it manually, by pointing to /etc/avrdude

[2017-04-23 16:36] #43 closed

[2017-04-23 16:53] ladislas commented on #43
yeah, i've seen this error with avrdude before. sometimes it happens on linux and people need to fix it by hand.

I don't use linux so I can't help, but you might find something here: https://github.com/sudar/Arduino-Makefile/issues?utf8=%E2%9C%93&q=avrdude%20conf

[2017-04-24 05:53] clement91190 opened #44 "libraries import"
Hi,

I'm trying to import the [ros_lib libraries](http://wiki.ros.org/rosserial_arduino/Tutorials/Arduino%20IDE%20Setup). It seems the libraries import works only if the name of the header is the name of the folder (ie the name of the lib). Is there a fix for this ?

[2017-04-24 06:45] ladislas commented on #44
yes, that's how it works

besides renaming the things, no. you can also use a main header with the name of the folder where you include everything else, as explained here: https://github.com/ladislas/Bare-Arduino-Project/issues/34#issuecomment-275864903

[2017-04-24 06:45] #44 closed

[2017-04-24 20:40] pip010 commented on #36
maybe add this to the example of the linux makefile?
### AVRDDUDE CONFIG
### Path to avrdude config directory.
AVRDUDE_CONF = /etc/avrdude.conf

[2017-04-24 20:47] pip010 opened #45 "make upload baudrate missmatch"
In my Makefile:
[code]
OUTPUT of sudo make upload:
[code]

[2017-04-24 20:50] pip010 commented on #45
sorry to be a nag :P
just getting into the whole avr-toolchain, thank you for your time in this project.

just found the issue with my BQZum was it is running on some less common 19200bps,
now I build and flashing on the board works through manual copy-paste command fix.

yes C++ no more javascript and drag boxes around :)

[2017-06-01 10:25] kamze opened #46 "makefile not working with tinyGPS and tinyGPSPlus"
I am trying to compile an example of tinyGPSPlus (same goes tinyGPS) for it works fine when i compile it using arduino IDE but when i use make upload there is no error but i don't receive any GPS data.
Please note that i have all ready uploaded functional programs using make upload.
Could it because of the baudrate mismatch talked about here :https://github.com/ladislas/Bare-Arduino-Project/issues

[2017-06-01 10:31] ladislas commented on #46
can you try printing something else right before the GPS data. it will help us figure out if it the printing that doesn't work or just the data.

[2017-06-01 10:36] kamze commented on #46
so the code is :
#include <TinyGPSPlus.h>
#include <SoftwareSerial.h>
/*
   This sample sketch demonstrates the normal use of a TinyGPS++ (TinyGPSPlus) object.
   It requires the use of SoftwareSerial, and assumes that you have a
   4800-baud serial GPS device hooked up on pins 4(rx) and 3(tx).
*/
static const int RXPin = 3, TXPin = 2;
static const uint32_t GPSBaud = 4800;

// The TinyGPS++ object

[2017-06-01 11:01] kamze commented on #46
i set GPSBaud to 9600 and it worked but i dont know why

[2017-06-01 11:28] ladislas commented on #46
the baudrate in the makefile is only to use `make monitor` and must be set to the same value as `Serial.begin(9600);`

The GPS baudrate might be something else, I don't know what it is.

closing this issue as it is out side of the scope of this repo

[2017-06-01 11:28] #46 closed

[2017-06-01 11:28] #45 closed

[2017-06-01 11:28] #36 closed

[2017-06-01 14:22] kamze commented on #46
ok thank you

[2017-07-23 19:05] fjrg76mx opened #47 "Issue when Arduino-mk has been installed from the official repo."
First of all, congrats for this project, it's what I was looking for for a long time! But while using it for the first time I had to tweak it so that it works in my Linux box (Linux Mint 18.2, Cinnamon). **If you've installed Arduino-mk from the repos** as I did, then your makefile template must be updated as shown below once it was copied to the project folder.

I had to swap the order of these i

[2017-07-24 06:22] ladislas commented on #47
thanks @fjrg76mx for the feedback.

I'll change the monitor port that was set for OS X and not Linux, you're right.

For the rest, this is specific to your case. If you `git clone --recursive` the repo, you'll have Arduino-MK as a submodule and won't need to update anything. it is important as the project uses some magic to recursively find the included libraries so you don't have to reference the

[2017-08-19 12:29] tiagoboldt commented on #19
Hey guys, afaik, this is still an issue today. @ladislas any reason to close it?

[2017-08-19 12:53] alexozer commented on #19
TBH there's better ways to get completion nowadays, like with platformio for vscode.

[2017-08-19 13:03] ladislas commented on #19
@tiagoboldt I don't use the teensy anymore. I don't have much time to investigate but I'd be happy to review any pull request.

I guess it's just about tweaking the ycm config :)

[2017-10-23 16:49] #47 closed

[2018-01-10 17:00] rpbeltran opened #50 "lib-detection gets stuck searching for dependencies"
I went to compile my code to find that it was never finishing (after running for about ~45 minutes). When I would interrupt the process it would display a traceback to `Arduino-Makefile/bin/lib-detection` somewhere around line 70 ( `currentFile = open(os.path.join(USER_LIB_PATH, lib, lib + ".h"))` )

For some reason, it was getting stuck calculating `SKETCH_LIBS_DEPS`. As a workaround, I specified

[2018-01-10 17:08] ladislas commented on #50
it might have to do with recursive library inclusion or deeper nested levels.

in the current state of things, there's not much that can be done unless you want to get your hand dirty and try to find a solution.

I'm not using the bare arduino project that much these days and I'm slowly moving to platformio which offers much more customization options. they also provide you with auto lib detection

[2018-01-10 20:19] rpbeltran commented on #50
Thanks, if I get the chance I'll look into it further and see if I can find anything. If I come up with a real fix I'll update it here and put in the PR.

[2018-01-10 21:42] ladislas commented on #50
👍🏻
On Wed 10 Jan 2018 at 12:21, Ryan Beltran <notifications@github.com> wrote:

--
---

This e-mail and any attached files may contain confidential information
which is intended exclusively for the recipient. If you are not the
specified recipient, you should delete this e-mail from your system
immediately, and inform the sender without delay. Reading, distributing,
copying, or any other unauthori

[2018-05-12 15:40] ktrace opened #51 "Work with ArduinoCore-avr: troubles"
Good day!
I try to setup Bare-Arduino-Project without Arduino at all, but with ArduinoCore-avr (https://github.com/arduino/ArduinoCore-avr).
Step to reproduce:

[code]

Edit Makefile same way:

[code]
Now after make:
[code]
Here two errors:
1. - [COMPUTED]           ARDUINO_CORE_PATH = ~/work/ArduinoCore-avr/cores/arduino (from ALTERNATE_CORE_PATH, BOARD_TAG and boards.txt) - not exist
2. Wire not

[2018-06-03 14:46] cscashby opened #52 "Install.md instructions for pip / python"
Recently homebrew has changed so that pip install python@2 is required to get 'pip' - python only contains pip3 now.

[2018-07-29 04:15] JBaczuk commented on #43
Same issue on Ubuntu 16.04. Just add this to the Makefile:

`AVRDUDE_CONF = /etc/avrdude.conf`

[2018-08-22 11:34] ladislas commented on #51
it doesn't seem possible right now as the arduino app packages a lot of different things that are hard wired with the makefile.
it might change in the future but for the moment you need to download the arduino app...

[2018-08-22 11:36] ladislas commented on #51
closing for now, feel free to reopen if something changes in the future.

[2018-08-22 11:36] #51 closed

[2018-08-22 11:38] ladislas commented on #50
closing for now, feel free to reopen.

[2018-08-22 11:38] #50 closed

[2018-10-03 11:17] jepperaskdk opened #53 "Ubuntu 16.04 - including stdlib classes failing to compile"
I'm kind of new to C++, so this might be an issue with my setup.

Including e.g map, vector or alike from std, fails to compile with make:
`
/home/jeppe/MyArduinoProject/lib/FooLib/FooLib.h:12:15: fatal error: map: No such file or directory
 #include <map>
               ^
compilation terminated.
`
I did ensure installing dependencies mentioned in INSTALL.md.
It is my understanding that I should b

[2018-10-08 06:31] jepperaskdk commented on #7
Did you get this to work? :-)

[2019-03-20 09:54] #52 closed

[2019-03-20 09:54] ladislas commented on #52
almost a year later, thanks for that :)

[2019-03-20 11:22] #29 closed

[2019-04-11 11:19] CedricMi opened #55 "C"
Hello,
I'm trying this project under an Ubuntu 18.04.2 WSL of Windows 10 fully patched 1809/17763.437.

1. In Step 5 of INSTALL.MD
make fails because avrdude.conf is not found.

My avrdude.conf is under
/usr/share/Arduino/hardware/tools/arvdude.conf

I had to change Arduino.MK lines 576+ to
[code]

2. In Step 5 of INSTALL.MD
make upload fails

[code]

Note: The ATMEGA 2560 board is working. Direct

[2019-04-11 14:25] ladislas commented on #55
You're using a very old version or the Arduino IDE, 1.0.5.

Update Arduino, try again and let me know.

[2019-04-11 18:05] CedricMi commented on #55
Ok didn't know one couldn't count on Ubuntu's repos to be up to date for Arduino. May be something you should mention it in INSTALL.MD

I installed the Arduino IDE from Arduino.cc
make upload still couldn't find avrdude.conf, with original or with my mod, and refused to upload

So I uninstalled then reinstalled gcc-avr binutils avr-libc avrdude
Seems even worse, now I get this during make
- [COMPU

[2019-04-12 08:08] ladislas commented on #55
Hmm, board.txt is in the Arduino installation folder. Can you check you can find it somewhere here `/usr/share/arduino/hardware/arduino`?

The double slash should not be an issue.

Bare-Arduino-Project uses https://github.com/sudar/Arduino-Makefile/, try using it "vanilla" and see what happens.

[2019-04-12 08:12] ladislas commented on #55
I've also never used Ubuntu WSL so I'm not even sure it is supposed to work.

You should try it using VMWare or equivalent. Or just make a dual boot and boot on linux.

[2019-04-12 12:16] CedricMi commented on #55
Ok, after tons of problems, spending way too much time fixing them, and an additional parallel install to a true ubuntu virtual machine, my conclusion is that the install file arduino-1.8.9-linux64.tar.xz downloaded from Arduino.cc does somehow not install correctly on Ubuntu & debian-like distributions.
So instead of defining ARDUINO_DIR as /Arduino or /.arduino15, one has to point to the extract

[2019-04-12 14:38] ladislas commented on #55
Good to know you fixed it.

I myself put the different projects in `src/` just like here: https://github.com/leka/moti/tree/dev/src

Or I clone Bare-Arduino-Project for every new projects.

Checkout the documentation of https://github.com/sudar/Arduino-Makefile/ as they explain how to have Arduino-Makefile in only one place and configure your local makefiles.

[2019-04-12 14:38] #55 closed

[2019-07-24 00:55] dolfandringa opened #56 "How can I integrate unittests?"
I love you made this project, it was kind of what I was thinking of myself using the Arduino-Makefile project as well, but you streamline it a lot. I was also planning to do CI and unittesting, but although the test folder is there, you don't mention any testing framework, library, etc  that you use for it. I was planning to use [arduino-ci](https://github.com/ianfixes/arduino_ci) because it provi

[2019-07-25 06:05] dolfandringa commented on #56
Some more investigation, I think I can just run the runtests.sh script as the test discovery, instead of using the arduino_ci supplied one. I just need to make sure that when running tests, instead of including the regular Arduino.h, I include the arduino_ci supplied one. Are there any quick pointers on how to achieve that without directly modifying the Arduino-Makefile scripts?

[2019-07-26 04:28] dolfandringa commented on #56
Ok, I am getting further with this. I indeed don't want to use the arduino_ci test runner. Just the Arduino library for mocking and testing. I managed to extract the bare minimum compile command that their test runner uses for my unittests, which is this:
[code]

I guess I need to make sure my Makefile-CI only includes the Arduino sources from arduino-ci and doesn't include the avr-libc libraries

[2019-07-26 06:35] dolfandringa commented on #56
damn, I just realize I overlooked that arduino_ci uses native gcc not avr-gcc, so the arduino_ci libraries will probably never work with avr-gcc and therefore Bare-Arduino/Arduino-Makefile, right?

[2019-07-26 06:48] dolfandringa opened #57 "Mocking SPI and hardware pins"
Related to #56: Is there a library or are there any examples of writing unittests that Mock some of the hardware arduino functions? I would for instance like to mock the digitalWrite/digitalRead/analogRead/pinMode functions, and also the SPI library, so I can write tests for code that depends on them, without actually needing an emulator or physical hardware connected. I really like the arduino_ci

[2019-07-27 08:55] dolfandringa commented on #56
I have managed to include arduino_ci after I contributed a feature to it that resolved conflicts between Bare-Arduino-Project and arduino_ci. I forked this repos and have the combined repos on https://github.com/dolfandringa/Bare-Arduino-Project for those interested. I'd rather just add a good mocking library for arduino to Bare-Arduino-Project rather than combining the 2, but this works for me fo

[2019-07-27 09:03] #56 closed

[2019-08-27 15:17] ladislas commented on #57
If you want to run the test without actual hardware, you won't be able to use avr-gcc. You'll need to compile using gcc to run the program for your computer (either macOS, Linux our Windows).

arduino-ci does provide SPI functions. I have never used it but the documentation seems pretty explicit:

The goal of arduino-ci is to allow you to write test that will run for real when compiled with avr-gc

[2019-08-27 15:29] ladislas commented on #56
@dolfandringa thanks for the input and sorry for the delayed answer. I don't use any framework for the moment but thanks to you I've discovered Arduino CI and it seems to be very powerful. The fact that it uses gcc allow the tests to be run on your own computer without hardware and forces you to architecture your app in a smart way (as I said in #57).

One thing you could try is to symlink all the

[2020-02-04 14:55] ladislas commented on #57
closing as there's not activity -- feel free to reopen if needed

[2020-02-04 14:55] #57 closed

[2020-04-24 05:05] DouglasUrner opened #59 "Arduino IDE version"
Does it have to be 1.6.x or can the current version (1.8.x) also be used?

If it needs to be the older version it would be great to state that explicitly in INSTALL.md and maybe explain why.

[2020-04-24 07:15] #59 closed

[2020-04-24 07:16] ladislas commented on #59
thanks for raising this issue! I've update the INSTALL.md :)

[2020-04-24 07:41] DouglasUrner opened #60 "Support for 3rd Party Boards"
Is it possible to build projects for 3rd party boards such as the Adafruit Trinket (the ATTiny85 version)?

I have the Adafruit board support installed in the Arduino IDE, but they aren't recognized by the Makefile, for example:

[code]

Doesn't show the Adafruit boards. Is there a way to pick up the 3rd party board support from the IDE (i.e., see the same boards that the IDE sees)? If there isn't

[2020-04-24 08:05] ladislas commented on #60
I don't know as I've never tried :(

You should check with https://github.com/sudar/Arduino-Makefile/ -- there might be some information there.

my guess is that in the worst case you should be able to define all the variables needed by the makefile that are usually found in board.txt. If you don't change your board often, it's a one time work and you're good to go.

[2020-04-27 20:03] ladislas commented on #60
@DouglasUrner any news?

[2020-05-04 20:27] ladislas commented on #60
@DouglasUrner closing this issue as it is not directly related to BAP. Reopen if needed.

[2020-05-04 20:27] #60 closed

[2020-09-22 12:06] MalcolmBoura opened #61 "python 2,3 confusion"
On my system,  Kubuntu 18.04, python defaults to python2 causing lib-detection to fail. Changing the shebang line to invoke python3 instead of python fixed the problem.

...,lib-detection", line 23
  print(lib, end = '  ')

The print as a function and end = construct was introduced in python3.

[2020-09-22 12:12] MalcolmBoura opened #62 "Sub-optimal diagnostics and documentation of BOARD_SUB"
The documentation would benefit from an explanation of how to identify BOARD_TAG and BOARD_SUB from the boards.txt file.

Failure to find BOARD_SUB (and also I expect BOARD_TAG) should be reported as an error. avr-g++ complaining about lack of a value for -mmcu is rather obscure.

Having said that, thanks for the excellent project.

[2020-09-22 12:22] ladislas commented on #61
Thanks for reporting @MalcolmBoura! If you want to provide a PR, please do, I dont have much time to work on that.

As Python 2 is deprecated, the default python version should be Python 3. It's the case on macOS.

[2020-09-22 12:25] ladislas commented on #62
This is rather related to Arduino-Makefile, you can find the info here:

- https://github.com/sudar/Arduino-Makefile#useful-variables
- https://github.com/sudar/Arduino-Makefile/blob/master/arduino-mk-vars.md#board_tag
- https://github.com/sudar/Arduino-Makefile/blob/master/arduino-mk-vars.md#board_sub

[2020-09-24 11:27] MalcolmBoura commented on #61
Thanks.

I have confirmed that python2.7 is the default for Ubuntu 18.04. That is an LTS release so it will be maintained until 2023. Changing the default python is likely to break a lot of things.

I will put in a PR but I will need to revise my git skills first!

[2020-09-24 11:33] MalcolmBoura commented on #62
Thanks for the URLs. I agree.

[2020-12-31 13:35] joesan opened #63 "No such file or directory Error when setting up a new sub project"
I tried the install instructions and created my first sub project, but when I wanted to run the make command, I got the following error:

[code]

Why is it looking for Arduino.mk file? From where should I source this one?

[2020-12-31 17:41] ladislas commented on #63
You must `git submodule update --init --recursive` from your clone directory.

[2020-12-31 18:31] ladislas commented on #63
if you have the repository on github it would help me help you. I'm surprised by the path `../src/Arduino-Makefile/Arduino.mk`

how did you clone the project?

[2021-01-01 09:13] joesan commented on #63
I think I kind of fixed it by installing the https://github.com/sudar/Arduino-Makefile and then modifying the ARDMK_DIR in my Makefile point to
        `  /usr/share/arduino/`

You mean to say if I run the `git submodule update --init --recursive`, I do not have to install the Arduino-Makefile explicitly?

[2021-01-01 19:02] ladislas commented on #63
Yes, the submodule thingy pulls a fork of sudar's arduino-makefile with additional capabilities.

It's in the install documentation ;)

[2021-01-18 09:58] #62 closed

[2021-01-18 09:59] ladislas commented on #61
@MalcolmBoura I'll close for now, feel free to reopen if needed.

[2021-01-18 09:59] #61 closed

[2021-01-18 09:59] ladislas commented on #63
@joesan any news on this? I'll close for now, feel free to reopen if needed.

[2021-01-18 09:59] #63 closed

[2021-04-21 15:33] JDuchniewicz opened #65 "Not working with newest Arduino - fixes"
Not opening a PR because I noticed that you have your own fork of Arduino-Makefile project and maintain it.

Took me some time to figure it out but now it works.

First of all, with new SAMD devices, this will fail to compile and it requires changes in the README (might open a PR just for that).
For the SAMD boards, there is no need for `BOARD_SUB`, everything is stored in `BOARD_TAG`.

With the n

[2021-04-21 21:21] ladislas commented on #65
Thanks @JDuchniewicz

The `LTO_PLUGIN_DIR = $(HOME)/.arduino15/packages/...` doesn't look very cross platform as it does not exist on macOS.

Are those changes upstream already? If so, I'll just rebase my fork to get them.

[2021-04-22 08:09] JDuchniewicz commented on #65
I did not push the LTO_PLUGIN changes upstream as they are relevant only to this project - without including additional libs with the `ar` command (as is done normally) it does not complain. The one thing they did in the past was to replace the linking process with the g++ linker instead of gcc one.

[2021-04-22 08:26] JDuchniewicz commented on #65
I'm not sure how to do it in a future proof manner... As the versions will be changing and we have many platforms to serve. The easiest would be asking the user to provide it themselves but this might be asking for too much in some cases.

[2022-01-29 11:32] abbas-rz opened #67 "[Help!] How do I use this with VScode?"
Hi, I am a newbie to c++ and I dont know how I would use this with vscode!

[2022-01-29 14:20] ladislas commented on #67
You just clone and open the project in VSCode ;)

If you mean "how do I get autocompletion and stuff in vscode using this?", then I'm afraid I can't help you as I simply don't know.

I haven't worked on Arduino for a very long time and we I was, I was using vim/neovim.

You can read vscode's documentation about C/C++, they have nice plugins.